# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.env
.env.*
venv/
ENV/

# Flask
instance/
*.log

# Database
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
packages_seed.sql
